{% extends "application/base.html" %}
{% block content %}

    <article class="media content-section">
      <div class="media-body">
        {% if object.first_name or object.last_name %}
          <h2 class="article-title">{{ object.first_name }} {{ object.last_name }} </h2>
        {% else %}
          <h2 class="article-title">{{ object.username }}</h2>
        {% endif %}

        <small class="text-muted">Joined {{ object.date_joined }}</small>

        <div>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="query" value="metric" />
                <input type="hidden" name="user_id" value="{{ object.id }}" />
                <label for="metrics">Metric:</label>
                    <select id="metrics" name="metrics">
                        {% for metric_name, text in metrics.items %}
                            <option value={{ metric_name }} {% if metric_name == default_metric %}selected{%endif%}>{{ text }}</option>
                        {% endfor %}
                    </select>
                    <label for="time">Time interval:</label>
                    <select id="time" name="time">
                      {% for period, text in periods.items %}
                        <option value={{ period }} {% if period == default_period %}selected{%endif%}>{{ text }}</option>
                      {% endfor %}
                    </select>
                <button class="btn btn-outline-info" type="submit">Apply</button>
            </form>
        </div>

        <p class="article-content">{{ metric_text }}: {{ metric_value }}</p>
          {% if object.id == user.id %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="query" value="update_achievements" />
                <input type="hidden" name="user_id" value="{{ object.id }}" />
                <button class="btn btn-outline-success" type="submit">Update achievements</button>
            </form>
          {% endif %}
      </div>
    </article>

{% endblock content %}
